form {
    display: flex;
    flex-flow: column;
    width: fit-content;
    align-items: center;
}

input {
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #7bd6c5;
}

.searchbar {
    width: 20rem;
}

.inputbtn {
    width: 8rem;
    border-radius: 2rem;
    color: white;
    background-color: #000206;
    cursor: pointer;
}

.inputbtn:hover {
    background-color: #0b2239;
}