.search-container {
    grid-column: 1 / 5;
    grid-row: 1;
    display: flex;
    flex-flow: column;
    width: auto;
    align-items: center;
    margin: 2rem;
}

.search-input {
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #7bd6c5;
}

.search-input {
    width: 20rem;
}

.search-btn {
    width: 7rem;
    height: 3rem;
    border-radius: 2rem;
    color: white;
    background-color: #3bc3a7;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #237665;
}