/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

header {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #1564b2;
  font-family: 'Prompt', sans-serif;
  height: fit-content;
}

header h1 {
  justify-self: center;
  color: azure;
  padding: 0;
  margin: 0.5rem;
}

header span {
  color: #92ffea;
}

main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 10rem repeat(2, 1fr) 10rem;
  grid-gap: 1.5rem;
}
 /* .one {
  height: 10rem;
  width: 30rem;
  background-color: red;
  grid-column: 2/4;
  
 } */
